* {
    padding: 0px;
    border: 0px;
    margin: 0px;
    color: black;
    
    font-family: "Pixelify Sans", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2d1f3d;
    transition : .25s;
}

#lightbulb {
    height: 300px;
    width: auto;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    height: 30px;
}

button {
    width: 60px;
    height: 100%;
    background-color: #c8b8fa;
    border: 2px solid #4f366b;
    transition: .1s;
}

h1 {
    color: white;
}